:root {
  --accent: #4d5ae5;
  --white: #ffffff;
  --navyblue: #2e2f42;
  --slate: #434455;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --transit: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --lightslate: #8e8f99;
}

/* * Global */
ul,
ol {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02px;
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.btn {
  cursor: pointer;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

address {
  font-style: normal;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ! Header */

.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  align-items: center;
  display: flex;
}
.logo_header-link {
  margin-right: 76px;
}
.logo_header {
  color: var(--navyblue);
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-list_item {
}
.nav-list_link {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--navyblue);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color var(--transit);
}

.nav-list_link.current {
  color: var(--ocean);
}

.nav-list_link.current::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}
.nav-list_link:hover,
.nav-list_link:focus {
  color: var(--ocean);
}

.address {
  margin-left: auto;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-item {
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate);
  transition: color var(--transit);
}
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* ! Hero section */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  color: var(--white);
  margin: 0 auto;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-btn {
  display: block;
  background: var(--accent);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  transition: background-color var(--transit);
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--ocean);
}

/* ! Features */

.features {
  background-color: var(--white);
}

.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: var(--cloud);
  border-radius: 4px;
}
.features-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.features-desc {
  color: var(--slate);
}

/* ! Duties */

.duties {
  background-color: var(--white);
  padding-top: 0;
}

.duties-list {
  display: flex;
  gap: 24px;
}
.duties-item {
  flex-basis: calc((100% - 24 * 2) / 3);
}
.duties-img {
}

/* ! Our team */

.team {
  background: var(--cloud);
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 24 * 3) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-avatar {
}

.team-data {
  padding-bottom: 32px;
  padding-top: 32px;
}

.team-name {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.team-position {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}
.team-social {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-social-item {
  width: 40px;
  height: 40px;
}
.team-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color var(--transit);
}
.team-social-icon {
  fill: var(--cloud);
}
.team-social-link:focus,
.team-social-link:hover {
  background-color: var(--ocean);
}

/* ! Customers */

.customers {
}

.customers-list {
  display: flex;
  gap: 24px;
}
.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  transition: border-color var(--transit), color var(--transit);
  color: var(--lightslate);
}
.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

/* ! Portfolio */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-btn {
  color: var(--accent);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: var(--cloud);
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  transition: color var(--transit), background-color var(--transit),
    border-color var(--transit), box-shadow var(--transit);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  flex-basis: calc((100% - 24px * 2) / 3);
}
.portfolio-link {
  display: block;
  transition: box-shadow var(--transit);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-description {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--accent);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform var(--transit);
}
.portfolio-link:hover .portfolio-description,
.portfolio-link:focus .portfolio-description {
  transform: translateY(0%);
}
.portfolio-data {
  padding: 32px 16px;
  border-right: 1px solid var(--cornflower, #e7e9fc);
  border-left: 1px solid var(--cornflower, #e7e9fc);
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}
.portfolio-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-content {
  color: var(--slate);
}

/* ! Footer  */

.footer {
  background: var(--navyblue);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-wrapper {
  display: flex;
  align-items: baseline;
}
.footer-data {
  margin-right: 120px;
}

.logo_footer {
  color: var(--cloud);
}
.logo-link-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-slogan {
  max-width: 264px;
  color: var(--cloud);
}

.footer-meta {
}

.footer-title {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  transition: background-color var(--transit);
  border-radius: 50%;
}
.footer-social-icon {
  fill: var(--cloud);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

/* * Footer subscribe */

.footer-subscribe {
  margin-left: auto;
}
.footer-subscribe-form {
  display: flex;
  gap: 24px;
}
.footer-subscribe-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--white);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.48px;
  transition: border-color var(--transit);
}
.footer-subscribe-input::placeholder {
  color: var(--white);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
}
.footer-subscribe-input:focus {
  outline: none;
  border: 1px solid var(--accent);
}
.footer-subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 40px;
  min-width: 165px;
  border-radius: 4px;
  background: var(--accent);
  transition: background-color var(--transit);
}
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--ocean);
}
.footer-subscribe-btn-icon {
  margin-left: 16px;
  fill: var(--white);
}

/* ! Modal */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity var(--transit), visibility var(--transit);
  background-color: var(--navyblue-modal);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  padding: 72px 24px 24px;
  transition: transform var(--transit);
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color var(--transit), border var(--transit);
}
.modal-close-icon {
  fill: var(--navyblue);
  transition: fill var(--transit);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--white);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--ocean);
  border: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ! Modal form */

.callback {
}
.callback-desc {
  color: var(--navyblue);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.callback-data {
  margin-bottom: 8px;
}
.callback-label {
  display: block;
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.callback-input-wrapper {
  position: relative;
}
.callback-input {
  width: 100%;
  padding-left: 38px;
  font-size: 18px;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--navyblue-modal);
  color: var(--navyblue);
  outline: transparent;
  transition: border-color var(--transit);
}
.callback-input:focus {
  border-color: var(--accent);
}
.callback-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--transit);
  fill: var(--navyblue);
}

.callback-input:focus ~ .callback-input-icon {
  fill: var(--accent);
}

.callback-textarea-data {
  margin-bottom: 16px;
}
.callback-textarea {
  background-color: transparent;
  outline: transparent;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 8px 16px;
  resize: none;
  border-radius: 4px;
  transition: border-color var(--transit);
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  color: var(--navyblue-modal);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.callback-textarea:focus {
  border-color: var(--accent);
}
.callback-textarea::placeholder {
  color: var(--navyblue-modal);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}
.callback-confirm-wrapper {
  margin-bottom: 24px;
}
.callback-checkbox {
}
.callback-fake-check {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color var(--transit), border var(--transit),
    fill var(--transit);
}
.callback-checkbox:checked ~ .callback-terms .callback-fake-check {
  background-color: var(--ocean);
  fill: var(--cloud);
  border: none;
}
.callback-checkbox:focus ~ .callback-checkbox-icon {
  outline: 1px solid var(--accent);
}
.callback-terms {
  display: block;
  align-items: center;
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.callback-terms-link {
  color: var(--accent);
}
.callback-btn {
  min-width: 169px;
  height: 56px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: none;
  background: var(--accent);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transit);
}
.callback-btn:hover,
.callback-btn:focus {
  background-color: var(--ocean);
}
