.features {
  background-color: var(--white);
}
.img-wrapper {
  display: none;
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.features-subtitle {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-desc {
  color: var(--slate);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .features-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
  .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--cloud);
    border-radius: 4px;
  }
  .features-subtitle {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
  .features-desc {
    color: var(--slate);
  }
}
